
<h3>Component</h3>

<div class="container-fluid">
    <div class="row bglight d-flex justify-content-center whole px-4">
        <div class="col-md-12 ">


            <div class="container whole">
                <div class="row">
                    <div class="col-md-12 p-4">
                        <span class="textprimary">Search /</span>
                        <span class="text-secondary"> Companies</span>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10  pt-3 pb-3 bg-white radius">
                                <div class="input-group ">

                                    <input type="search" class="form-control border-0 small" placeholder="Search by title, Company or any jobs keyword" aria-label="Search" aria-describedby="search-addon">
                                    <div class="col-md-2 bg-light rounded-pill d-inline ">

                                        <span class="btn border-0 textprimary buttonDiv"><img class="img-fluid" src="../../assets/images/filter 1.png">Fiiter</span>
                                    </div>
                                    <div class="col-md-2 bg-light rounded-pill ml-2 ">
                                        <span class="btn border-0 textprimary buttonDiv"><img class="img-fluid" src="../../assets/images/Group.png">Find</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-2">
                                <span class="">Suggestions</span>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="btn rounded-pill buttonDiv px-5 mx-4 textprimary Suggestions">Location</a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="btn rounded-pill buttonDiv px-4 mx-4 textprimary Suggestions">Qualification</a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="btn rounded-pill buttonDiv px-5 mx-4 textprimary Suggestions">Skill</a>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="btn rounded-pill px-5 ml-2 buttonDiv textprimary Suggestions">Experience</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row content ">
                    <div class="col-md-12  pt-5 border-top">
                        <div class="row">
                            <div class="col-md-5">
                                <span class="font-weight-bold textprimary">Showing 35 Companies</span><br>
                                <span class="text-secondary small">Based your Preferences</span>
                            </div>
                            <div class="col-md-2 buttonDiv d-flex d-inline">
                                <label class="switch pr-4">Salary</label>
                                <button type="button" class="btn btn-toggle" data-toggle="button" aria-pressed="false">
                                    <div class="toggle-line rounded pill"></div>
                                    <div class="push-button"></div>
                                </button>
                                <div class="switch-bar">
                                    <div class="switch-slider"></div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="dropdown iconspan rounded-pill buttonDiv">
                                    <button class="btn buttonDiv dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="img-fluid" src="../../assets/images/Group (1).png">  Newest
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Option 1</a>
                                        <a class="dropdown-item" href="#">Option 2</a>
                                        <a class="dropdown-item" href="#">Option 3</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 ml-2 ">
                                <span class="btn buttonDiv rounded-pill  iconspan "><img class="img-fluid" src="../../assets/images/List.png"></span>
                            </div>
                            <div class="col-md-1 ml-2 ">
                                <span class="btn buttonDiv rounded-pill bgprimary iconspan "><img class="img-fluid" src="../../assets/images/ic_grid.png"></span>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class=" img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- ********************************************2nd Row******************************************** -->

                        <div class="row pt-3">
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- ********************************************3rd Row******************************************** -->

                        <div class="row pt-3">
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <a href="#" class="remove btn rounded-pill">Remove</a>
                                            <a href="#" class="block btn rounded-pill">Block</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card">
                                    <img src="../../assets/images/companyLogo.png" class="img-fluid card-img-top mx-auto d-block mt-3 px-5" alt="Card Image" style="width: 200px;">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">name 2</h5>
                                        <p class="card-text">MCA 2</p>
                                        <div class="d-flex justify-content-between">
                                            <button class="remove btn rounded-pill mr-2">REMOVE</button>
                                            <button class="block btn rounded-pill">BLOCK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-7">
                                <div class="col-md-6">
                                    <small class="text-secondary">Showing 10 from 160 data</small>
                                </div>
                                <div class="col-md-5">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <li class="page-item "> <span class="page-link carousel-control-prev-icon mt-2 pt-3" aria-hidden="true"></span></li>
                                            <li class="page-item "><a class="page-link mr-2 px-4 rounded-pill" href="#">Previous</a></li>
                                            <li class="page-item "><a class="page-link px-4 rounded-pill" href="#">1</a></li>
                                            <li class="page-item "><a class="page-link px-4 rounded-pill" href="#">2</a></li>
                                            <li class="page-item "><a class="page-link px-4 rounded-pill" href="#">3</a></li>
                                            <li class="page-item "><a class="page-link ml-2 px-5 rounded-pill" href="#">Next</a></li>
                                            <li class="page-item "> <span class="page-link carousel-control-next-icon mt-2 pt-3" aria-hidden="true"></span></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>
@code {

}
