@page "/JobProvider"
@layout AdminLayout1Component

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 mt-3">
           <JobProviderListComponent></JobProviderListComponent>
        </div>
    </div>
    
</div>

@code {

}
