@page "/profile"
@using AutoMapper;
@using HireMeNow_BlazorApp.Dtos;
@using HireMeNow_BlazorApp.Interfaces;
@layout JobSeekerLayout
@inject IUserService _userService
@inject NavigationManager NavManager
@using HireMeNow_BlazorApp.Models;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject IMapper _mapper;
<h1>Profile</h1>
<style>
    .personal-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }



    .aboutMeDiv {
        /*min-width: 420px;*/
        padding: 35px;
    }



    .skillsDiv {
        min-width: 350px;
        min-height: 100px;
    }



    .experienceDiv {
        min-width: 350px;
        min-height: 100px;
    }


    .educationDiv {
        min-width: 350px;
        min-height: 100px;
    }


    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    #DetailsView {
        width: 90%;
    }

    .education-table {
        width: 100%;
        color: gray;
        font-family: serif;
    }

    .profileContent {
        color: gray;
        font-family: serif;
    }

</style>
<div id="content" class="p-4 p-md-5">
    <div class="row">
        <div class="col-md-6 personal-details">
            <div id="DetailsView"></div>
               <div>


            <font size="4" face="verdana" color="black" align="center">

            <img src="jobseekerassets/images/leslie.png" width="100px" alt="" class="proImg"><br>


            <center>  <b> @userModel?.FirstName </b> &nbsp; &nbsp;<b> @userModel?.LastName</b> </center> <br>

            </font>
            <em>Java Developer</em> <br>

            <h5><img src="jobseekerassets/images/resume.png" width="25px" alt="Resume "> RESUME </h5>
            <font size="4" face="math" color="black" align="center">
            <i>
            <img src="jobseekerassets/images/mail.png" width="20px" alt="mail ">
            @userModel?.Email
            </i>
            <br>

            <i>
            <img src="jobseekerassets/images/phone.png" width="20px" alt="phone ">
            @userModel?.Phone
            </i><br>
            <i>
            <img src="jobseekerassets/images/location.png" width="20px" alt="location ">  @userModel?.Location
            </i><br>

            </font>
            </div>
              <div class="aboutMeDiv">


            <img src="jobseekerassets/images/edit-2.png" width="15px" align="right" onclick="editAbout()" />

            <h4> <img src="jobseekerassets/images/user.png" width="25px"> About Me</h4>
            <input type="submit" class="btn btn-sm btn-primary btnSaveChanges" id="btnSaveChanges" value="Save Changes" />
            <font size="3" face="math" color="black" align="justify-content-center">


            <blockquote>
            <textarea rows="5" id="aboutMeTxtDiv" class="aboutMeTxtDiv" placeholder="About Me..." asp-for="About">   @userModel?.About </textarea>
            <div class="aboutMeContentDiv" id="aboutMeContentDiv">
            @userModel?.About
            </div>
            </blockquote>
            </font>


            </div>
        </div>
        <div class="col-md-6">
            <div class="skillsDiv">
                <div id="SkillsView"></div>
            </div>

            <div class="educationDiv">
                <div id="EducationView"></div>

            </div>
            <div class="experienceDiv">
                <div id="ExperienceView"></div>
            </div>

        </div>
    </div>

</div>
@code {
    [Parameter]
    public string Error { get; set; }

    [Parameter]
    public UserDto userModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<Guid>("userId");
        User CurrentUser = result.Success? _userService.getById(result.Value):new();
        userModel = _mapper.Map<UserDto>(CurrentUser);
    }
}
